/nbproject/private/
/singleton/java/Singleton/nbproject/private/
/singleton/java/Singleton/build/
/iterator/java/Iterator/nbproject/private/
/iterator/java/Iterator/build/
/singleton/php/Singleton/nbproject/private/